*{
   
}

body {
    background-color: white;
    margin: 50px;
    height: 1200px;
    padding-left: 20px;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    color: #BADA55;
    background-color: #B58A69;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    text-align: center;
}

ul {
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}

.section {
    background-color: #DEE5DE;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
}

.section-img {
    width: 340px;
    height: 190px;
    margin-left: 50px;
}

.section-p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.section-h1 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    margin: 20px;
}

.contenedor-textos {
    text-align: justify;
}

.boton {
    padding: 10px;
    color: white;
    background-color: #5E5E4A;
    text-align: center;
}

.aside {
    background-color: #D7D7CB;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.header-aside {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.aside-img {
    width: 350px;
    height: 220px;
    padding: 20px;
    margin-bottom: 50px;
    display: flexbox;

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    text-align: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}